<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="" class="navbar-brand" >Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/main" class="nav-item nav-link" href="#">Number Finder</a>
      <a  routerLink="/history" class="nav-item nav-link" href="#">History</a>

    </div>
  </div>
</nav>