.ng-valid[required], .ng-valid.required  {

    border-left: 5px solid rgb(64, 177, 70); /* green */
  }
  /* .sr
  {
      border-left: 5px solid rgb(30, 199, 61);
     
  } */
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }